
@model AspDotNetCore.ViewModels.HomeDetailsViewModel
@*@{
Layout = "~/Views/Shared/_Layout.cshtml";
ViewBag.Title = "Student Details";
}*@
<html>
<head>
    <title>学生页面详细</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名字</th>
                <th>主修科目</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Student)
            {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Major</td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
